<div>
    <h1>Sign In</h1>
    <form method="POST" action="/signin">

      <label for="email">Email:</label>
      <input type="text" name="email" />
  
      <label for="passsword">Password:</label>
      <input type="password" name="password"/>
  
      <input type="submit" value="Sign In"/>
  
    </form>
    <a href="./signup">Don't have an account?</a>
</div>